*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    min-width: 100%;
    background-color: #f2f2f2;
}

h1{
    text-transform: uppercase;
    font-family: 'Oswald', helvetica, arial, sans-serif;
    font-size: 4em;
    
    letter-spacing: 7px;
    line-height: 100%;
    margin-bottom: 5px;
}

h2, p, a{
    font-family: lato, helvetica, arial, sans-serif;
    font-weight: 300;
}

a{
    text-decoration: none;
    color: #000;
}

nav{
    text-transform: uppercase;
}

a:hover{
    color: #ff43ae;
}

a:visited{
    color: #00b1f0;
}

.section-content {
    overflow: hidden;
    height: 100%;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
}

.photo {
    max-height: 100%;
    position: relative;
    overflow: hidden;
}

#img {
    top:0;
    max-height: 782px;
}

.text {
    text-align: center;
    margin: auto 0 auto 850px;
    min-width: 300px;
}

.about-img .text{
    margin-left: 750px;
}

.text img{
    max-height: 100px;
    max-width: 100px;
}

.skill-icon{
    opacity: 0;
}

#work-flex {
    display: block;
    margin: 0 5%;
    max-width: 1250px;
}

.flex-container {
    padding: 0;
    margin: 0 5%;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    padding: 10px;
    max-width: 225px;
    max-height: 225px;
    margin-top: 20px;
    
    line-height: 150px;
    color: white;
    font-size: 3em;
    text-align: center;
    
    -webkit-filter: grayscale(.90);
    filter: grayscale(.90);
    transition: .5s;
}

.flex-item:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.laptop{
    height: 175px;
}

.work-items {
    list-style: none;
    width: 100%;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

p, .project-text{
    color: #000;
}

.flex-container li p {
    text-transform: lowercase;
    margin: 0 auto 0 auto;
    width: 150px;
    text-align: center;
}

.social-icon {
    display: inline-block;
    padding: 0 8px;
}

.hover-text{
    text-align: center;
    visibility: hidden;
}

.page-content {
    height: 100%;
}

.social-icons {
    list-style: none;
}

.skill-filter{
    -webkit-filter: hue-rotate(90deg);
    filter: hue-rotate(90deg);
}


@media screen and (min-width:1250px){
    
    .skills-img {
        background: url("/img/backgrounds/rickystylus.png") no-repeat bottom left;
    }

    .about-img {
        background: url("/img/backgrounds/hellorickytransparent.png") no-repeat bottom left;
    }

    .contact-img{
        background: url("/img/backgrounds/contact.png") no-repeat bottom left;
    }
}

@media screen and (max-width:1249px){
    .skills-img {
        background: url("/img/backgrounds/rickystylus-ipad.png") no-repeat bottom left;
    }

    .about-img {
        background: url("/img/backgrounds/helloricky-ipad.png") no-repeat bottom left;
    }

    .contact-img{
        background: url("/img/backgrounds/contact-ipad.png") no-repeat bottom left;
    }
    
    .skill-icons{
        position: relative;
        float: left;
    }
    
    .text{
        margin: auto 0 auto 600px;
    }
    
    .about-img .text{
        margin-left: 550px;
    }
}

@media screen and (max-width:900px){
    .skills-img {
        background: none;
    }

    .about-img {
        background: none;
    }

    .contact-img{
        background: none;
    }
    
    .skill-icons{
        position: relative;
        float: left;
    }
    
    .text{
        margin: auto;
        max-width: 85%;
    }
    
    .about-img .text{
        margin-left: auto;
    }
    
    h1{
        font-size: 2em;
        letter-spacing: 3px;
    }
    
    .text img{
        max-height: 50px;
        max-width: 50px;
    }
}
