<header class="site-header">
  <nav role="navigation" class=".mq-width-90 flex-container nav-items">
    {% if page.path contains 'work' %}
    <h1 class="header-title mq-vanish">Ricky Holtz</h1>
    {% endif %}
    <ul class="flex-container nav-items page-margin">
    <li><h1 class="vanish">Navigation</h1></li>
    <li><a href='{{site.url}}'>Home</a></li>
    <li><a href='{{site.url}}#skills'>Skills</a></li>
    <li><a href='{{site.url}}#projects'>Projects</a></li>
    <li><a href='{{site.url}}#contact'>Contact</a></li>
  </nav>
</header>
