<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="ricky, holtz, portfolio, design, technology, information, ux, ui, front-end">
    <meta name="author" content="Ricky Holtz">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >

    <!-- loading fonts, jQuery, and CSS -->
    <script src="https://use.typekit.net/jag1iiy.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    {%if page.css %}
        {% for stylesheet in page.css %}
        <link rel="stylesheet" href="/assets/css/{{stylesheet}}.css" media="screen" type="text/css">
        {% endfor %}
    {% endif %}
</head>
