/*  =============================================================================
 *  ANIMATION STYLES
 *  ============================================================================= */

/*  =============================================================================
 *  KEYFRAMES
 *  ============================================================================= */

 @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

 @keyframes oscillateFade {
   0%, 100% { opacity: 0 }
   50% { opacity: 1 }
 }

/*  =============================================================================
 *  GENERAL ANIMATIONS
 *  ============================================================================= */

.fade-in {
 	opacity:0;  /* make things invisible upon start */
 	animation:fadeIn ease-in 1;
 	animation-fill-mode: forwards;;
 	animation-duration: 1s;
 }

 .fade-in-and-out {
   opacity: 1;
   animation: oscillateFade 2s linear;
 }

/*  =============================================================================
 *  WORK PAGE ANIMATIONS
 *  ============================================================================= */
/*@media(min-width: $medium-breakpoint){

   .work__image:hover { //increase the size of the image
      position:relative;
      top:-25px;
      left:-35px;
      width:500px;
      height:auto;
      display:block;
      z-index:999;
  }
}*/
