/*  =============================================================================
 *  BASE STYLES
 *  ============================================================================= */

 /*  =============================================================================
  *  Useful Miscellany
  *  ============================================================================= */
.vanish{
  display: none;
  visibility: hidden;
}

.responsive-line{
  display: inline;
}

.content-group{
  margin: 2rem auto;
}

.page-margin{
  width: 90%;
}

.bottom-absolute{
  position: absolute;;
  bottom: 0px;
}

/*  =============================================================================
 *  Default elements
 *  ============================================================================= */
nav {
  padding: 1.5rem 0 1rem 0;
  width: 90%;
  margin: 0 auto;
}

/*  =============================================================================
 *  Layout
 *  ============================================================================= */
 .width-90pct{
   width: 90%;
 }

 .width-100pct{
   width: 100%;
 }

 .horizontal-center{
   margin: 0 auto;
 }

 .vpadding-half-rem{
   padding: .5rem 0;
 }

 .vpadding-quarter-rem{
   padding: .25rem 0;
 }

 .vmargin-2rem{
   margin: 2rem 0;
 }

 .botpadding-quarter-rem{
   padding-bottom: .25rem;
 }

 .botpadding-half-rem{
   padding-bottom: .5rem;
 }

 .botmargin-rem{
   margin-bottom: 1rem;
 }

 .botmargin-half-rem{
   margin-bottom: .5rem;
 }

 .product-thumb{
   width: 250px;
 }

 /*  =============================================================================
  *  Grid
  *  ============================================================================= */
.flex-container{
  display: flex;
}

.flex-row{
  @extend .flex-container;
  flex-flow: row wrap;
  padding: .5vw;
}

.flex-row-col{
  @extend .flex-container;
  flex-flow: column;
  padding: .5vw;
}

.flex-field{
  flex: auto;
  width: 200px;
  margin: .5vw;
}

.flex-image{
  width: 100%;
  height: auto;
}

.flex-header{
  flex: 1 100%;
}

.flex-jc-sb{
  justify-content: space-between;
}

.flex-jc-center{
  justify-content: center;
}

.flex-items-center{
  align-items: center;
}

.nav-items{
  justify-content: space-between;;
  align-items: center;
}

.ff-column{
  flex-flow:column;
}

/*  =============================================================================
 *  PARALLAX
 *  ============================================================================= */
#cover-photo{
  position: absolute;
  width: 100%;
  height: auto;
  z-index: -100;
}
#contents{
  position: absolute;
}

/*  =============================================================================
 *  Media Queries
 *  ============================================================================= */

@media(min-width: $medium-breakpoint){
  .responsive-line{
    display: block;
  }

  .flex-row{
    flex-flow: row wrap;
  }

  .svg-line {
    display:none;
  }

  .nav-items{
    justify-content: flex-end;
  }

  .nav-items a{
    margin: 0 .5rem;
  }

  .mq-justify-center{
    justify-content: center;
  }

  .home-vertical-center{
    margin: auto 0 auto 50%;
  }

  .mq-align-end{
    align-items: flex-end;
  }

  .mq-margin-left-50{
    margin-left: 50%;
  }

  .maxw-330px{
    max-width: 330px;
  }
}
