/*  =============================================================================
 *  CUSTOM STYLES
 *  ============================================================================= */

.work-header{
  height: 368px;
}

.work-title{
  justify-content: flex-end;
  align-items: flex-end;
}

.project-row{
  @extend .width-100pct;
  margin: 2vh 1vh;
}
