/*  =============================================================================
 *  TYPOGRAPHY STYLES
 *  ============================================================================= */

 /*  =============================================================================
  *  default tags
  *  ============================================================================= */
html{
  font-size: 14px;
  font-family: $base-font-style;
  font-weight: $base-font-weight;
}

/*  =============================================================================
 *  webfonts
 *  ============================================================================= */

 .wf-loading * {
   font-family: 'Helvetica Neue'
   visibility: hidden;
 }

 .wf-active * {
   visibility: visible;
 }

/*  =============================================================================
 *  hierarchy
 *  ============================================================================= */
.page-title, h1{
  font-family: "acumin-pro-extra-condensed", $base-font-style;
  font-weight: 900;
  font-size: 4.236rem;
  line-height: 3.4rem;

  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}

h2, .h2{
  @include heading-font;
  font-size: 2.618rem;
  letter-spacing: .05rem;
}

h3, .h3{
  @include body-copy;

  text-transform: lowercase;
  font-weight: 700;

  color: #000;
}

p, li, dt, dd, figcaption{
  @include body-copy;
  line-height: 1.8;
  margin-bottom: 1.5vh;
}

a{
  @include body-copy;
  text-decoration: none;

  color: #236d9e;
}

header a{
  text-transform: uppercase;
  color: #000;
}

.header-title{
  font-size: 2.618rem;
}

.ol-decimal{
  list-style: decimal;
  margin-left: 1rem;
}


/* =============================================================================
 *  styling
 * ============================================================================= */

.white-text{
  color: #fff;
}

.text-center{
  text-align: center;
}

.flex-row__title{
  text-align: center;
}

  @media(min-width: $medium-breakpoint){
    .mq-text-center{
      text-align: center;
    }

    .flex-row__title{
      text-align: right;
    }

    html{
      font-size: $base-font-size;
    }
  }

    @media(min-width: $xlarge-breakpoint){
      html{
        font-size: 18px;
      }

  }
