/*  =============================================================================
 *  TYPOGRAPHY STYLES
 *  ============================================================================= */

 /*  =============================================================================
  *  default tags
  *  ============================================================================= */
html{
  font-size: 14px;
  font-family: $base-font-style;
  font-weight: $base-font-weight;
}

/*  =============================================================================
 *  hierarchy
 *  ============================================================================= */
.page-title, h1{
  font-family: "acumin-pro-extra-condensed", $base-font-style;
  font-weight: 900;
  font-size: 4rem;

  text-transform: uppercase;
  text-align: center;
  display: inline;
}

h2, .h2{
  @include heading-font;
  font-size: 2rem;

  display: inline;
}

h3, .h3{
  @include body-copy;

  font-weight: 700;
}

p, li, dt{
  @include body-copy;
}

a{
  @include body-copy;
  text-transform: uppercase;
  text-decoration: none;

  color: #000;
}


 /*  =============================================================================
  *  styling
  *  ============================================================================= */

  .white-text{
    color: #fff;
  }

  @media(min-width: 960px){
    .page-title{
      font-size: 5em;
    }
  }
