<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
  <body>
    {% include header.html %}
    <main role="main">
      {{content}}
    </main>
    {% include footer.html %}
    <script type="text/javascript">
        if (window.location.pathname.indexOf('work') > -1) {
          var evt = new Event(),
          m = new Magnifier(evt);

          m.attach({
              thumb: '.work--zoom',
              mode: 'inside'
          });
        }
    </script>
    <!-- Google Analytics-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-K48P23STFW"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-K48P23STFW');
</script>
  </body>
</html>
