---
layout: default
css: [main]
---
{% include header.html %}
<header title="{{page.head-alt}}" class="{{page.header-img}} width-100pct work-header">
  <h1>{{page.title}}</h1>
</header>
<section class="work-text share-col">
  <img src="{{page.problem-img}}" alt="{{page.problem-alt}}" />
  <div>
    <h1>Problem</h1>
    <ul>
        <li><span class="body-bold">deliverable:</span> {{page.deliverable}}</li>
        <li><span class="body-bold">role:</span> {{page.role}}</li>
        <li><span class="body-bold">methods:</span> {{page.methods}}</li>
        <li><span class="body-bold">artifacts:</span> {{page.artifacts}}</li>
    </ul>
    <p>
      {{page.problem}}
    </p>
  </div>
</section>
<section class="flex-container">
  <img src="{{page.process-img1}}" alt="page.process-txt1" />
  <img src="{{page.process-img2}}" alt="page.process-txt2" />
  <img src="{{page.process-img3}}" alt="page.process-txt3" />
</section>
<section class="flex-container">
  <h1>{{page.title}}</h1>
  <p>
    {{content}}
  </p>
</section>
<section>
  <h1>Reflection</h1>
  <p>
    {{page.reflection}}
  </p>
</section>
{% include footer.html %}
</div>
