---
layout: default
css: [main]
---
<!--
HEADER
-->
<h1 class="text-center horizontal-center contain-text">Ricky Holtz</h1>
{{page.problem-img}}
<section class="project-row">
  <h2 class="text-center horizontal-center contain-text">{{page.title}}</h2>
    <ul class="contain-text horizontal-center text-center">
        <li><span class="h3">deliverable:</span> {{page.deliverable}}</li>
        <li><span class="h3">role:</span> {{page.role}}</li>
        <li><span class="h3">methods:</span> {{page.methods}}</li>
        <li><span class="h3">artifacts:</span> {{page.artifacts}}</li>
    </ul>
</section>

<!--
PROBLEM
-->
<section class="project-row">
    <h2 class="contain-text horizontal-center text-center">Problem</h2>
    <p class="contain-text horizontal-center text-center">
      {{page.problem}}
    </p>
</section>

<!--
PROJECT IMAGES
-->
<section class="flex-row vmargin-2rem">
  <div class="flex-field">
    <img src="{{page.process-img1}}" alt="{{page.process-txt1}}" class="flex-image"/>
  </div>
  <div class="flex-field">
    <img src="{{page.process-img2}}" alt="page.process-txt2" class="flex-image" />
  </div>
  <div class="flex-field">
    <img src="{{page.process-img3}}" alt="page.process-txt3" class="flex-image" />
  </div>
</section>

<!--
ACTION
-->
<section class="project-row">
  <h2 class="contain-text horizontal-center text-center">{{page.title}}</h2>
  <p class="contain-text horizontal-center text-center">
    {{content}}
  </p>
</section>

<!--
REFLECTION
-->
<section class="project-row">
  <h2 class="contain-text horizontal-center text-center">Reflection</h2>
  <p class="contain-text horizontal-center text-center">
    {{page.reflection}}
  </p>
</section>
</div>
