---
layout: default
css: [main, page]
js: [jQuery, unslider.min, unslider]
---
<div id="work-container">
    <header>
        <a href="/"><h2>rickydesign.me</h2></a>
    <nav role="navigation"><a href="/">home</a> | <a href="/#skills">about</a> | <a href="/#work">work</a> | <a href="/#contact">contact</a></nav>
    </header>
    <div class="left-bound share-col">
    {{content}}
    </div>
    <div class="work-text share-col">
        <h1>{{page.title}}</h1>
            <ul>
                <li><span style="font-weight: 700">deliverable:</span> {{page.deliverable}}</li>
                <li><span style="font-weight: 700">role:</span> {{page.role}}</li>
                <li><span style="font-weight: 700">problem:</span> {{page.problem}}</li>
                <li><span style="font-weight: 700">methods:</span> {{page.methods}}</li>
                <li><span style="font-weight: 700">artifacts:</span> {{page.artifacts}}</li>
            </ul>
        <hr>
        <h2>Solution:</h2>
        <p>{{page.solution}}</p>
    </div>
        {% include footer.html %}
</div>
